# Model â€” Naive TWFE DiD (Displacement)

Load `data/processed/panel_displacement.csv`, convert grouping/time to categorical, run a naive TWFE DiD (attack_count ~ treated_post + C(group_name) + C(time_period)), and save results to `reports/tables/naive_displacement.txt`.

In [1]:
from pathlib import Path
import os
import pandas as pd

def find_repo_root(start=Path.cwd()):
    p = start
    while True:
        if (p / 'notebooks').exists() or (p / '.git').exists() or (p / 'README.md').exists():
            return p
        if p == p.parent:
            raise FileNotFoundError('Could not find repository root from cwd')
        p = p.parent

ROOT = find_repo_root()
print('Repository root:', ROOT)

# ensure reports/tables exists when saving results
(ROOT / 'reports' / 'tables').mkdir(parents=True, exist_ok=True)

Repository root: /Users/kanishkraghavendra/Documents/Project/data-minds-causal-analysis

In [2]:
# Load the processed panel for displacement
data_path = ROOT / 'data' / 'processed' / 'panel_displacement.csv'
print('Loading:', data_path)
if not data_path.exists():
    raise FileNotFoundError(f'Expected dataset not found at {data_path!s}. Run notebooks/01_Data_Cleaning_and_Aggregation.ipynb first to produce it.')
df = pd.read_csv(data_path.as_posix(), parse_dates=['date'])

# Harmonize grouping column: prefer 'group_name' but fall back to 'target_type' if present
if 'group_name' not in df.columns:
    if 'target_type' in df.columns:
        df['group_name'] = df['target_type']
    else:
        raise KeyError('Neither group_name nor target_type found in displacement panel')

# Ensure attack_count column exists (some panels name it attack_count_monthly)
if 'attack_count' not in df.columns:
    if 'attack_count_monthly' in df.columns:
        df['attack_count'] = df['attack_count_monthly']
    else:
        raise KeyError('attack_count not found in displacement panel')

# Convert group_name to categorical
df['group_name'] = df['group_name'].astype('category')

# Convert date to a monthly time_period categorical variable
df['time_period'] = pd.to_datetime(df['date'], errors='coerce').dt.to_period('M').astype(str)
df['time_period'] = df['time_period'].astype('category')

print('Loaded dataframe shape:', df.shape)
df.head()

Loading: /Users/kanishkraghavendra/Documents/Project/data-minds-causal-analysis/data/processed/panel_displacement.csv
Loaded dataframe shape: (648, 11)

,target_type,date,attack_count_monthly,nkill_monthly,nwound_monthly,post,treated,treated_post,group_name,attack_count,time_period
0,Hard,1990-01-01,122,165.0,232.0,0,1,0,Hard,122,1990-01
1,Hard,1990-02-01,102,183.0,126.0,0,1,0,Hard,102,1990-02
2,Hard,1990-03-01,161,254.0,255.0,0,1,0,Hard,161,1990-03
3,Hard,1990-04-01,133,205.0,262.0,0,1,0,Hard,133,1990-04
4,Hard,1990-05-01,149,159.0,238.0,0,1,0,Hard,149,1990-05

In [3]:
# Run naive TWFE DiD using statsmodels OLS with factor (categorical) fixed effects
import statsmodels.formula.api as smf

formula = 'attack_count ~ treated_post + C(group_name) + C(time_period)'
print('Formula:', formula)

model = smf.ols(formula=formula, data=df).fit()
print(model.summary())

# Save the regression summary to reports/tables/naive_displacement.txt
out_path = ROOT / 'reports' / 'tables' / 'naive_displacement.txt'
with open(out_path.as_posix(), 'w') as f:
    f.write(model.summary().as_text())

print('Saved regression summary to', out_path)

Formula: attack_count ~ treated_post + C(group_name) + C(time_period)
                            OLS Regression Results
==============================================================================
Dep. Variable:           attack_count   R-squared:                       0.968
Model:                            OLS   Adj. R-squared:                  0.935
Method:                 Least Squares   F-statistic:                     29.63
Date:                Wed, 12 Nov 2025   Prob (F-statistic):          3.47e-147
Time:                        22:15:39   Log-Likelihood:                -3224.0
No. Observations:                 648   AIC:                             7100.
Df Residuals:                     322   BIC:                             8559.
Df Model:                         325
Covariance Type:            nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
Intercept                   108.4612     35.282      3.074      0.002      39.050     177.873
C(group_name)[T.Soft]        49.0775      6.189      7.930      0.000      36.902      61.253
C(time_period)[T.1990-02]   -17.5000     49.703     -0.352      0.725    -115.284      80.284
C(time_period)[T.1990-03]    49.0000     49.703      0.986      0.325     -48.784     146.784
C(time_period)[T.1990-04]    29.5000     49.703      0.594      0.553     -68.284     127.284
C(time_period)[T.1990-05]    57.5000     49.703      1.157      0.248     -40.284     155.284
C(time_period)[T.1990-06]    56.5000     49.703      1.137      0.256     -41.284     154.284
C(time_period)[T.1990-07]    43.5000     49.703      0.875      0.382     -54.284     141.284
C(time_period)[T.1990-08]    19.0000     49.703      0.382      0.703     -78.784     116.784
C(time_period)[T.1990-09]     6.5000     49.703      0.131      0.896     -91.284     104.284
C(time_period)[T.1990-10]    15.5000     49.703      0.312      0.755     -82.284     113.284
C(time_period)[T.1990-11]    -1.0000     49.703     -0.020      0.984     -98.784      96.784
C(time_period)[T.1990-12]   -30.5000     49.703     -0.614      0.540    -128.284      67.284
C(time_period)[T.1991-01]    56.5000     49.703      1.137      0.256     -41.284     154.284
C(time_period)[T.1991-02]    25.5000     49.703      0.513      0.608     -72.284     123.284
C(time_period)[T.1991-03]    -1.5000     49.703     -0.030      0.976     -99.284      96.284
C(time_period)[T.1991-04]    15.0000     49.703      0.302      0.763     -82.784     112.784
C(time_period)[T.1991-05]    31.0000     49.703      0.624      0.533     -66.784     128.784
C(time_period)[T.1991-06]    34.5000     49.703      0.694      0.488     -63.284     132.284
C(time_period)[T.1991-07]   115.0000     49.703      2.314      0.021      17.216     212.784
C(time_period)[T.1991-08]    71.5000     49.703      1.439      0.151     -26.284     169.284
C(time_period)[T.1991-09]    58.5000     49.703      1.177      0.240     -39.284     156.284
C(time_period)[T.1991-10]    95.5000     49.703      1.921      0.056      -2.284     193.284
C(time_period)[T.1991-11]    75.5000     49.703      1.519      0.130     -22.284     173.284
C(time_period)[T.1991-12]    29.5000     49.703      0.594      0.553     -68.284     127.284
C(time_period)[T.1992-01]    41.0000     49.703      0.825      0.410     -56.784     138.784
C(time_period)[T.1992-02]    28.0000     49.703      0.563      0.574     -69.784     125.784
C(time_period)[T.1992-03]   112.5000     49.703      2.263      0.024      14.716     210.284
C(time_period)[T.1992-04]    34.5000     49.703      0.694      0.488     -63.284     132.284
C(time_period)[T.1992-05]    82.5000     49.703      1.660      0.098     -15.284     180.284
C(time_period)[T.1992-06]    13.5000     49.703      0.272      0.786     -84.284     111.284
C(time_period)[T.1992-07]    54.5000     49.703      1.097      0.274     -43.284     152.284
C(time_period)[T.1992-08]    53.0000     49.703      1.066      0.287     -44.784     150.784
C(time_period)[T.1992-09]    88.0000     49.703      1.771      0.078      -9.784     185.784
C(time_period)[T.1992-10]   104.5000     49.703      2.102      0.036       6.716     202.284
C(time_period)[T.1992-11]   121.0000     49.703      2.434      0.015      23.216     218.784
C(time_period)[T.1992-12]    87.0000     49.703      1.750      0.081     -10.784     184.784
C(time_period)[T.1994-01]    28.5000     49.703      0.573      0.567     -69.284     126.284
C(time_period)[T.1994-02]    20.0000     49.703      0.402      0.688     -77.784     117.784
C(time_period)[T.1994-03]    60.5000     49.703      1.217      0.224     -37.284     158.284
C(time_period)[T.1994-04]    40.5000     49.703      0.815      0.416     -57.284     138.284
C(time_period)[T.1994-05]    19.5000     49.703      0.392      0.695     -78.284     117.284
C(time_period)[T.1994-06]   -16.0000     49.703     -0.322      0.748    -113.784      81.784
C(time_period)[T.1994-07]   -16.5000     49.703     -0.332      0.740    -114.284      81.284
C(time_period)[T.1994-08]   -32.5000     49.703     -0.654      0.514    -130.284      65.284
C(time_period)[T.1994-09]   -16.0000     49.703     -0.322      0.748    -113.784      81.784
C(time_period)[T.1994-10]   -20.0000     49.703     -0.402      0.688    -117.784      77.784
C(time_period)[T.1994-11]   -26.5000     49.703     -0.533      0.594    -124.284      71.284
C(time_period)[T.1994-12]    10.0000     49.703      0.201      0.841     -87.784     107.784
C(time_period)[T.1995-01]   -31.0000     49.703     -0.624      0.533    -128.784      66.784
C(time_period)[T.1995-02]   -11.0000     49.703     -0.221      0.825    -108.784      86.784
C(time_period)[T.1995-03]    -2.0000     49.703     -0.040      0.968     -99.784      95.784
C(time_period)[T.1995-04]   -52.0000     49.703     -1.046      0.296    -149.784      45.784
C(time_period)[T.1995-05]    17.0000     49.703      0.342      0.733     -80.784     114.784
C(time_period)[T.1995-06] -2.046e-12     49.703  -4.12e-14      1.000     -97.784      97.784
C(time_period)[T.1995-07]    -0.5000     49.703     -0.010      0.992     -98.284      97.284
C(time_period)[T.1995-08]   -13.0000     49.703     -0.262      0.794    -110.784      84.784
C(time_period)[T.1995-09]    12.5000     49.703      0.251      0.802     -85.284     110.284
C(time_period)[T.1995-10]    20.5000     49.703      0.412      0.680     -77.284     118.284
C(time_period)[T.1995-11]   -50.5000     49.703     -1.016      0.310    -148.284      47.284
C(time_period)[T.1995-12]   -26.0000     49.703     -0.523      0.601    -123.784      71.784
C(time_period)[T.1996-01]    12.5000     49.703      0.251      0.802     -85.284     110.284
C(time_period)[T.1996-02]   -20.5000     49.703     -0.412      0.680    -118.284      77.284
C(time_period)[T.1996-03]   -21.0000     49.703     -0.423      0.673    -118.784      76.784
C(time_period)[T.1996-04]   -25.5000     49.703     -0.513      0.608    -123.284      72.284
C(time_period)[T.1996-05]    -3.0000     49.703     -0.060      0.952    -100.784      94.784
C(time_period)[T.1996-06]   -44.5000     49.703     -0.895      0.371    -142.284      53.284
C(time_period)[T.1996-07]     1.5000     49.703      0.030      0.976     -96.284      99.284
C(time_period)[T.1996-08]   -20.5000     49.703     -0.412      0.680    -118.284      77.284
C(time_period)[T.1996-09]     2.0000     49.703      0.040      0.968     -95.784      99.784
C(time_period)[T.1996-10]    17.0000     49.703      0.342      0.733     -80.784     114.784
C(time_period)[T.1996-11]   -29.0000     49.703     -0.583      0.560    -126.784      68.784
C(time_period)[T.1996-12]   -10.5000     49.703     -0.211      0.833    -108.284      87.284
C(time_period)[T.1997-01]   -19.5000     49.703     -0.392      0.695    -117.284      78.284
C(time_period)[T.1997-02]    -6.0000     49.703     -0.121      0.904    -103.784      91.784
C(time_period)[T.1997-03]    -9.5000     49.703     -0.191      0.849    -107.284      88.284
C(time_period)[T.1997-04]   -22.0000     49.703     -0.443      0.658    -119.784      75.784
C(time_period)[T.1997-05]   -43.0000     49.703     -0.865      0.388    -140.784      54.784
C(time_period)[T.1997-06]    16.0000     49.703      0.322      0.748     -81.784     113.784
C(time_period)[T.1997-07]    27.0000     49.703      0.543      0.587     -70.784     124.784
C(time_period)[T.1997-08]    18.0000     49.703      0.362      0.717     -79.784     115.784
C(time_period)[T.1997-09]   -17.5000     49.703     -0.352      0.725    -115.284      80.284
C(time_period)[T.1997-10]    -2.5000     49.703     -0.050      0.960    -100.284      95.284
C(time_period)[T.1997-11]   -29.0000     49.703     -0.583      0.560    -126.784      68.784
C(time_period)[T.1997-12]   -10.0000     49.703     -0.201      0.841    -107.784      87.784
C(time_period)[T.1998-01]   -93.0000     49.703     -1.871      0.062    -190.784       4.784
C(time_period)[T.1998-02]   -86.0000     49.703     -1.730      0.085    -183.784      11.784
C(time_period)[T.1998-03]  -102.0000     49.703     -2.052      0.041    -199.784      -4.216
C(time_period)[T.1998-04]  -100.5000     49.703     -2.022      0.044    -198.284      -2.716
C(time_period)[T.1998-05]  -106.5000     49.703     -2.143      0.033    -204.284      -8.716
C(time_period)[T.1998-06]  -113.5000     49.703     -2.284      0.023    -211.284     -15.716
C(time_period)[T.1998-07]   -81.0000     49.703     -1.630      0.104    -178.784      16.784
C(time_period)[T.1998-08]   -82.5000     49.703     -1.660      0.098    -180.284      15.284
C(time_period)[T.1998-09]  -101.5000     49.703     -2.042      0.042    -199.284      -3.716
C(time_period)[T.1998-10]   -76.5000     49.703     -1.539      0.125    -174.284      21.284
C(time_period)[T.1998-11]   -91.0000     49.703     -1.831      0.068    -188.784       6.784
C(time_period)[T.1998-12]  -116.5000     49.703     -2.344      0.020    -214.284     -18.716
C(time_period)[T.1999-01]  -105.0000     49.703     -2.113      0.035    -202.784      -7.216
C(time_period)[T.1999-02]  -106.0000     49.703     -2.133      0.034    -203.784      -8.216
C(time_period)[T.1999-03]   -41.5000     49.703     -0.835      0.404    -139.284      56.284
C(time_period)[T.1999-04]   -90.5000     49.703     -1.821      0.070    -188.284       7.284
C(time_period)[T.1999-05]   -89.0000     49.703     -1.791      0.074    -186.784       8.784
C(time_period)[T.1999-06]   -45.0000     49.703     -0.905      0.366    -142.784      52.784
C(time_period)[T.1999-07]   -56.5000     49.703     -1.137      0.256    -154.284      41.284
C(time_period)[T.1999-08]   -77.5000     49.703     -1.559      0.120    -175.284      20.284
C(time_period)[T.1999-09]   -96.5000     49.703     -1.942      0.053    -194.284       1.284
C(time_period)[T.1999-10]   -54.5000     49.703     -1.097      0.274    -152.284      43.284
C(time_period)[T.1999-11]   -63.5000     49.703     -1.278      0.202    -161.284      34.284
C(time_period)[T.1999-12]  -100.0000     49.703     -2.012      0.045    -197.784      -2.216
C(time_period)[T.2000-01]   -44.0000     49.703     -0.885      0.377    -141.784      53.784
C(time_period)[T.2000-02]   -78.5000     49.703     -1.579      0.115    -176.284      19.284
C(time_period)[T.2000-03]   -87.0000     49.703     -1.750      0.081    -184.784      10.784
C(time_period)[T.2000-04]   -85.5000     49.703     -1.720      0.086    -183.284      12.284
C(time_period)[T.2000-05]   -70.5000     49.703     -1.418      0.157    -168.284      27.284
C(time_period)[T.2000-06]   -51.0000     49.703     -1.026      0.306    -148.784      46.784
C(time_period)[T.2000-07]   -58.0000     49.703     -1.167      0.244    -155.784      39.784
C(time_period)[T.2000-08]   -72.5000     49.703     -1.459      0.146    -170.284      25.284
C(time_period)[T.2000-09]   -21.0000     49.703     -0.423      0.673    -118.784      76.784
C(time_period)[T.2000-10]   -47.0000     49.703     -0.946      0.345    -144.784      50.784
C(time_period)[T.2000-11]   -45.0000     49.703     -0.905      0.366    -142.784      52.784
C(time_period)[T.2000-12]   -50.0000     49.703     -1.006      0.315    -147.784      47.784
C(time_period)[T.2001-01]   -51.5000     49.703     -1.036      0.301    -149.284      46.284
C(time_period)[T.2001-02]   -65.5000     49.703     -1.318      0.189    -163.284      32.284
C(time_period)[T.2001-03]   -52.5000     49.703     -1.056      0.292    -150.284      45.284
C(time_period)[T.2001-04]   -75.0000     49.703     -1.509      0.132    -172.784      22.784
C(time_period)[T.2001-05]   -85.5000     49.703     -1.720      0.086    -183.284      12.284
C(time_period)[T.2001-06]   -93.5000     49.703     -1.881      0.061    -191.284       4.284
C(time_period)[T.2001-07]   -94.5000     49.703     -1.901      0.058    -192.284       3.284
C(time_period)[T.2001-08]   150.0000     49.703      3.018      0.003      52.216     247.784
C(time_period)[T.2001-09]   -64.0000     49.703     -1.288      0.199    -161.784      33.784
C(time_period)[T.2001-10]   -82.3567     49.863     -1.652      0.100    -180.456      15.742
C(time_period)[T.2001-11]   -60.8567     49.863     -1.220      0.223    -158.956      37.242
C(time_period)[T.2001-12]   -66.8567     49.863     -1.341      0.181    -164.956      31.242
C(time_period)[T.2002-01]   -56.3567     49.863     -1.130      0.259    -154.456      41.742
C(time_period)[T.2002-02]   -61.3567     49.863     -1.231      0.219    -159.456      36.742
C(time_period)[T.2002-03]   -88.8567     49.863     -1.782      0.076    -186.956       9.242
C(time_period)[T.2002-04]   -76.8567     49.863     -1.541      0.124    -174.956      21.242
C(time_period)[T.2002-05]   -36.8567     49.863     -0.739      0.460    -134.956      61.242
C(time_period)[T.2002-06]   -77.8567     49.863     -1.561      0.119    -175.956      20.242
C(time_period)[T.2002-07]   -81.8567     49.863     -1.642      0.102    -179.956      16.242
C(time_period)[T.2002-08]   -60.3567     49.863     -1.210      0.227    -158.456      37.742
C(time_period)[T.2002-09]   -92.3567     49.863     -1.852      0.065    -190.456       5.742
C(time_period)[T.2002-10]   -82.3567     49.863     -1.652      0.100    -180.456      15.742
C(time_period)[T.2002-11]   -76.3567     49.863     -1.531      0.127    -174.456      21.742
C(time_period)[T.2002-12]   -99.8567     49.863     -2.003      0.046    -197.956      -1.758
C(time_period)[T.2003-01]   -31.3567     49.863     -0.629      0.530    -129.456      66.742
C(time_period)[T.2003-02]   -72.3567     49.863     -1.451      0.148    -170.456      25.742
C(time_period)[T.2003-03]   -31.8567     49.863     -0.639      0.523    -129.956      66.242
C(time_period)[T.2003-04]   -88.3567     49.863     -1.772      0.077    -186.456       9.742
C(time_period)[T.2003-05]   -51.3567     49.863     -1.030      0.304    -149.456      46.742
C(time_period)[T.2003-06]   -98.3567     49.863     -1.973      0.049    -196.456      -0.258
C(time_period)[T.2003-07]   -70.8567     49.863     -1.421      0.156    -168.956      27.242
C(time_period)[T.2003-08]  -110.8567     49.863     -2.223      0.027    -208.956     -12.758
C(time_period)[T.2003-09]   -92.3567     49.863     -1.852      0.065    -190.456       5.742
C(time_period)[T.2003-10]   -99.8567     49.863     -2.003      0.046    -197.956      -1.758
C(time_period)[T.2003-11]   -77.8567     49.863     -1.561      0.119    -175.956      20.242
C(time_period)[T.2003-12]   -89.3567     49.863     -1.792      0.074    -187.456       8.742
C(time_period)[T.2004-01]   -89.3567     49.863     -1.792      0.074    -187.456       8.742
C(time_period)[T.2004-02]  -107.3567     49.863     -2.153      0.032    -205.456      -9.258
C(time_period)[T.2004-03]   -87.8567     49.863     -1.762      0.079    -185.956      10.242
C(time_period)[T.2004-04]   -81.3567     49.863     -1.632      0.104    -179.456      16.742
C(time_period)[T.2004-05]   -84.3567     49.863     -1.692      0.092    -182.456      13.742
C(time_period)[T.2004-06]   -51.3567     49.863     -1.030      0.304    -149.456      46.742
C(time_period)[T.2004-07]   -73.8567     49.863     -1.481      0.140    -171.956      24.242
C(time_period)[T.2004-08]   -70.3567     49.863     -1.411      0.159    -168.456      27.742
C(time_period)[T.2004-09]   -79.8567     49.863     -1.602      0.110    -177.956      18.242
C(time_period)[T.2004-10]   -71.3567     49.863     -1.431      0.153    -169.456      26.742
C(time_period)[T.2004-11]   -92.8567     49.863     -1.862      0.063    -190.956       5.242
C(time_period)[T.2004-12]   -87.8567     49.863     -1.762      0.079    -185.956      10.242
C(time_period)[T.2005-01]   -44.8567     49.863     -0.900      0.369    -142.956      53.242
C(time_period)[T.2005-02]   -94.3567     49.863     -1.892      0.059    -192.456       3.742
C(time_period)[T.2005-03]   -30.8567     49.863     -0.619      0.536    -128.956      67.242
C(time_period)[T.2005-04]   -25.3567     49.863     -0.509      0.611    -123.456      72.742
C(time_period)[T.2005-05]   -15.3567     49.863     -0.308      0.758    -113.456      82.742
C(time_period)[T.2005-06]   -56.8567     49.863     -1.140      0.255    -154.956      41.242
C(time_period)[T.2005-07]     4.6433     49.863      0.093      0.926     -93.456     102.742
C(time_period)[T.2005-08]     0.1433     49.863      0.003      0.998     -97.956      98.242
C(time_period)[T.2005-09]   -69.3567     49.863     -1.391      0.165    -167.456      28.742
C(time_period)[T.2005-10]   -57.3567     49.863     -1.150      0.251    -155.456      40.742
C(time_period)[T.2005-11]   -91.8567     49.863     -1.842      0.066    -189.956       6.242
C(time_period)[T.2005-12]   -72.3567     49.863     -1.451      0.148    -170.456      25.742
C(time_period)[T.2006-01]     9.6433     49.863      0.193      0.847     -88.456     107.742
C(time_period)[T.2006-02]    85.6433     49.863      1.718      0.087     -12.456     183.742
C(time_period)[T.2006-03]   -70.8567     49.863     -1.421      0.156    -168.956      27.242
C(time_period)[T.2006-04]    72.1433     49.863      1.447      0.149     -25.956     170.242
C(time_period)[T.2006-05]   -22.3567     49.863     -0.448      0.654    -120.456      75.742
C(time_period)[T.2006-06]   -68.8567     49.863     -1.381      0.168    -166.956      29.242
C(time_period)[T.2006-07]     6.1433     49.863      0.123      0.902     -91.956     104.242
C(time_period)[T.2006-08]    -9.8567     49.863     -0.198      0.843    -107.956      88.242
C(time_period)[T.2006-09]   -51.8567     49.863     -1.040      0.299    -149.956      46.242
C(time_period)[T.2006-10]   -38.3567     49.863     -0.769      0.442    -136.456      59.742
C(time_period)[T.2006-11]   -50.8567     49.863     -1.020      0.309    -148.956      47.242
C(time_period)[T.2006-12]   -48.8567     49.863     -0.980      0.328    -146.956      49.242
C(time_period)[T.2007-01]   -41.3567     49.863     -0.829      0.407    -139.456      56.742
C(time_period)[T.2007-02]   -13.3567     49.863     -0.268      0.789    -111.456      84.742
C(time_period)[T.2007-03]   -17.8567     49.863     -0.358      0.720    -115.956      80.242
C(time_period)[T.2007-04]   -20.8567     49.863     -0.418      0.676    -118.956      77.242
C(time_period)[T.2007-05]   -44.8567     49.863     -0.900      0.369    -142.956      53.242
C(time_period)[T.2007-06]   164.6433     49.863      3.302      0.001      66.544     262.742
C(time_period)[T.2007-07]   -18.8567     49.863     -0.378      0.706    -116.956      79.242

In [ ]:
# Quick check: show where file was written and a few key stats
out_path = ROOT / 'reports' / 'tables' / 'naive_displacement.txt'
print('Result file exists:', out_path.exists())
print('\nRegression coefficients (head):')
print(model.params.head())

SyntaxError: unterminated string literal (detected at line 4) (3690999078.py, line 4)